pre-commit
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
transformers==4.55.2
qwen-vl-utils==0.0.11
datasets
setuptools
tqdm
wandb
psutil
numpy
accelerate
pydantic
sglang[all]==0.5.1
openai-harmony
